In [58]:
import os
os.chdir(r"K:\Learning-AI-Engineer-Course\05_Exercises\Exercise_07")
print(os.getcwd())

K:\Learning-AI-Engineer-Course\05_Exercises\Exercise_07

In [59]:
import pandas as pd

## 1. Read dataset

In [60]:
hb = pd.read_csv ('.\dataset\hotel_bookings.csv')

## 2. Check the base information dataset

In [61]:
hb.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-15

In [62]:
hb.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,06-09-17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,07-09-17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,07-09-17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,07-09-17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,07-09-17

In [63]:
hb.shape

(119390, 32)

In [64]:
hb.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [65]:
hb.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [66]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [67]:
hb.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [68]:
hb.nunique()

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             5
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              333
company                            352
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

In [69]:
hb.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

## 3. how many rows has this dataset?

In [70]:
hb.shape

(119390, 32)

In [71]:
rows = hb.shape[0]
print (rows)

119390

## Read a new variable of dataset, for some change

In [72]:
hb_2 = pd.read_csv ('.\dataset\hotel_bookings.csv')

In [73]:
import numpy as np
hb_2.loc[[2, 3],'company']= 50

In [74]:
hb_2

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01-07-15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,50.0,0,Transient,75.00,0,0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,50.0,0,Transient,75.00,0,0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,06-09-17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,07-09-17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,07-09-17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,07-09-17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,07-09-17

In [75]:
hb_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6799 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

## 4. are missing data is there? if answer is true, which columns has the most of it?

In [76]:
has_missing = hb_2.isnull().values.any()
print ("Ø¢ÛŒØ§ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ØŸ", has_missing)
# if has_missing is True
missing_per_column = hb.isnull().sum()
most_missing_column = missing_per_column.idxmax()
most_missing_count = missing_per_column.max()
print ("ØªØ¹Ø¯Ø§Ø¯ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡", missing_per_column.max(), "\n" "Ø³ØªÙˆÙ† Ø¯Ø§Ø±Ø§ÛŒ Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ù‚Ø¯Ø§Ø± NaN Ø³ØªÙˆÙ† ", most_missing_column )

Ø¢ÛŒØ§ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ØŸ True
ØªØ¹Ø¯Ø§Ø¯ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡ 112593
Ø³ØªÙˆÙ† Ø¯Ø§Ø±Ø§ÛŒ Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ù…Ù‚Ø¯Ø§Ø± NaN Ø³ØªÙˆÙ†  company

In [77]:
hb_2.loc[1:6]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,50.0,0,Transient,75.0,0,0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,50.0,0,Transient,75.0,0,0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,03-07-15

In [78]:
hb_2.loc[1: 6, "company"]

1     NaN
2    50.0
3    50.0
4     NaN
5     NaN
6     NaN
Name: company, dtype: float64

## 5. Del 'company' column from dataset

In [79]:
del hb_2["company"]

In [80]:
hb_2.loc[1:4]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,03-07-15

## 6. most passenger are from  which countries? Select 5 premiere countries.

In [81]:
hb_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [82]:
country_counts = hb['country'].value_counts()
country_counts

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MRT        1
KIR        1
SDN        1
ATF        1
SLE        1
Name: count, Length: 177, dtype: int64

In [83]:
top5_countries = country_counts.head(5)
print ("Show 5 premiere countries with most passenger:")
print (top5_countries)

Show 5 premiere countries with most passenger:
country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

## 7. Determine the type of customer who pay the most ADR (Average Daily Rate). how much is it?

In [84]:
max_adr_idx = hb_2['adr'].idxmax()
passenger_name = hb_2.loc[max_adr_idx, 'customer_type']
print ("The Most Type Of Customers is:")
print (passenger_name)
print ("the most pay is:", max_adr_idx)

The Most Type Of Customers is:
Transient
the most pay is: 48515

## 8. Calculating the average total ADR (With two decimal places)

In [85]:
average_adr = hb['adr'].mean()
average_adr_rounded = round(average_adr, 2)
print ("Average total ADR is:", average_adr_rounded)

Average total ADR is: 101.83

## 9. The Average numbers of stays nights (With two decimal places)

In [86]:
average_stays_nights = hb['stays_in_week_nights'].mean()
average_stays_rounded = round(average_stays_nights, 2)
print ("Average stays nights is:", average_stays_rounded)

Average stays nights is: 2.5

## 10. determine the Country (or company) who had 4 special request.

In [92]:
print(hb.columns.tolist())

['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

## 11. which countries had more than 4 special request?

In [134]:
top_companies = hb[hb['total_of_special_requests'] > 4]
print("ØªÙ…Ø§Ù…ÛŒ Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨ÛŒØ´ØªØ± Ø§Ø² 4 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡ Ø¯Ø§Ø´ØªÙ†Ø¯:")
print(f"ØªØ¹Ø¯Ø§Ø¯ Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒ Ù¾ÛŒØ¯Ø§ Ø´Ø¯Ù‡: {len(top_companies)}")
for index, row in top_companies.iterrows():
    print(f"Ú©Ø´ÙˆØ±: {row['country']} - {row['total_of_special_requests']} Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡")

ØªÙ…Ø§Ù…ÛŒ Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨ÛŒØ´ØªØ± Ø§Ø² 4 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡ Ø¯Ø§Ø´ØªÙ†Ø¯:
ØªØ¹Ø¯Ø§Ø¯ Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒ Ù¾ÛŒØ¯Ø§ Ø´Ø¯Ù‡: 40
Ú©Ø´ÙˆØ±: nan - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: nan - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BRA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ESP - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ESP - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BEL - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BEL - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BEL - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ESP - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ESP - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ISR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: IRL - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ISR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: ISR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: FRA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BRA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: BEL - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: PRT - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: DEU - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: DEU - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: USA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: USA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: USA - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: NOR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: NOR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: GBR - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡
Ú©Ø´ÙˆØ±: DEU - 5 Ø¯Ø±Ø®ÙˆØ§Ø³Øª ÙˆÛŒÚ˜Ù‡

In [129]:
$$

In [124]:
country_counts = hb['country'].value_counts()
print (country_counts.head(5))

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

## 12. countries had most children and babies

In [125]:
country_children_babies = hb.groupby('country')[['children', 'babies']].sum()

country_children_babies['total_children_babies'] = country_children_babies['children'] + country_children_babies['babies']

top_countries = country_children_babies.sort_values('total_children_babies', ascending=False).head(10)

print("Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ø¨Ø§ Ø¨ÛŒØ´ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ Ú©ÙˆØ¯Ú©Ø§Ù† Ùˆ Ù†ÙˆØ²Ø§Ø¯Ø§Ù† Ø¯Ø± Ø±Ø²Ø±Ùˆ Ù‡ØªÙ„:")
print(top_countries)

Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ø¨Ø§ Ø¨ÛŒØ´ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ Ú©ÙˆØ¯Ú©Ø§Ù† Ùˆ Ù†ÙˆØ²Ø§Ø¯Ø§Ù† Ø¯Ø± Ø±Ø²Ø±Ùˆ Ù‡ØªÙ„:
         children  babies  total_children_babies
country
PRT        3468.0     437                 3905.0
ESP        1412.0     126                 1538.0
GBR        1253.0      92                 1345.0
FRA        1211.0      77                 1288.0
DEU         477.0      18                  495.0
ITA         456.0      16                  472.0
BRA         393.0      24                  417.0
USA         362.0       6                  368.0
IRL         315.0      24                  339.0
BEL         311.0      12                  323.0

## 13. countries who has most reserved

In [127]:
country_reservations = hb['country'].value_counts()
print("Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ø¨Ø§ Ø¨ÛŒØ´ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ Ø±Ø²Ø±Ùˆ Ù‡ØªÙ„:")
print(country_reservations.head(3))

Ú©Ø´ÙˆØ±Ù‡Ø§ÛŒÛŒ Ø¨Ø§ Ø¨ÛŒØ´ØªØ±ÛŒÙ† ØªØ¹Ø¯Ø§Ø¯ Ø±Ø²Ø±Ùˆ Ù‡ØªÙ„:
country
PRT    48590
GBR    12129
FRA    10415
Name: count, dtype: int64